<h2>Artists</h2>

<ul>
  <% @artists.each do |artist| %>
    <li>
      <p>
        <%= link_to artist.name, artist %> | <%= link_to 'Delete', artist_path(artist),
                                                method: :delete,
                                                data: { confirm: 'Are you sure?' } %>
      </p>
    </li>
  <% end %>
</ul>
