<h2>Songs</h2>
<ul>
  <% @songs.each do |song| %>
    <li>
      <p>
      <%= link_to song.title, artist_song_path(song.artist, song) %> | <%= link_to 'Delete', artist_song_path(song.artist, song),
                                              method: :delete,
                                              data: { confirm: 'Are you sure?' } %>
      </p>
    </li>
  <% end %>
</ul>
